<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master :: head">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<header th:replace="master/master :: header"></header>
	<div class="container" align=center>	
	<hr style="background-color: #fdfdfd" />
		<div
			style="font-family: 'Roboto Condensed', 'sans-serif'; font-size: 150%">Modificar
			 Usuarios</div>
		<hr style="background-color: #fa251b" />
		<hr style="background-color: #fdfdfd" />
		<div>
			<form th:action="@{/pusuarios/update}" method="post"
				th:object="${us}">
				<div class="col-sm-3">
					<label class="form-label" style="display: none;">Id: </label> <input
						type="text" th:field="*{idUsuario}" class="form-control"
						style="display: none;"></input>
				</div>

				<div class="col-sm-3">
					<label class="form-label">Nombres: </label> <input type="text"
						th:field="*{fullNameUsuario}" class="form-control"></input>
				</div>
				<div class="col-sm-3">
					<label class="form-label">Categoria: </label> <select
						name="selectCategoria" class="form-control"
						th:field="*{categoria.idCategoria}">
						<option th:each="c:${listaCategorias}" th:value="${c.idCategoria}"
							th:text="${c.nameCategoria}"
							th:selected="(${c.idCategoria}==*{categoria.idCategoria})"></option>
					</select>
				</div>
				<div class="col-sm-3">
					<label class="form-label">Fecha de Nacimiento: </label> <input
						type="date" th:field="*{birthDateUsuario}" class="form-control"></input>
				</div>

				<div class="col-sm-3">
					<label class="form-label">Especialidad: </label> <input type="text"
						th:field="*{specialtyUsuario}" class="form-control"></input>
				</div>
				<div class="col-sm-3">
					<label class="form-label">Empresa: </label> <input type="text"
						th:field="*{companyUsuario}" class="form-control"></input>
				</div>
				<div class="col-sm-3">
					<label class="form-label">E-mail: </label> <input type="text"
						th:field="*{emailUsuario}" class="form-control"></input>
				</div>
				<div class="col-sm-3">
					<label class="form-label">Nombre de Usuario: </label> <input
						type="text" th:field="*{nombreUsuario}" class="form-control"></input>
				</div>
				<div class="col-sm-3">
					<label class="form-label" style="display: none;">Contraseña: </label> <input type="text" style="display: none;"
						th:field="*{passwordUsuario}" class="form-control"></input>
				</div>
				<br>
				<div class="col-sm-12">
					<input type="submit" value="Modificar" class="btn btn-dark"></input>
				</div>
				<br>
			</form>
		</div>

	</div>
</body>
</html>